.gradient-background {
    background: linear-gradient(98deg,#747efd,#fbd7f8,#f6ba76,#f1fec9);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    text-align: right;
    letter-spacing: -0.05em;
}

.timer-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: -0.05em;
}

.tomate-rotate {
    transform: rotate(8.9deg);
    transition: transform 0.3s ease;
}

.tomate-rotate:hover {
    transform: rotate(0deg);
}
